*.log
*.d
/config-all-devices.mak
/config-host.*
/config.status
/docs/*
/config-host.*
/trace-events-all
/trace/generated-events.h
/trace/generated-events.c
/trace/generated-helpers-wrappers.h
/trace/generated-helpers.h
/trace/generated-helpers.c
/trace/generated-tcg-tracers.h
trace/generated-events.c-timestamp
trace/generated-events.h-timestamp
trace/generated-helpers-wrappers.h-timestamp
trace/generated-helpers.h-timestamp
trace/generated-tcg-tracers.h-timestamp
trace/generated-tracers.h
trace/generated-tracers.h-timestamp

/pc-bios/optionrom/linuxboot.asm
/pc-bios/optionrom/linuxboot.bin
/pc-bios/optionrom/linuxboot.raw
/pc-bios/optionrom/linuxboot.img
/pc-bios/optionrom/linuxboot_dma.asm
/pc-bios/optionrom/linuxboot_dma.bin
/pc-bios/optionrom/linuxboot_dma.raw
/pc-bios/optionrom/linuxboot_dma.img
/pc-bios/optionrom/multiboot.asm
/pc-bios/optionrom/multiboot.bin
/pc-bios/optionrom/multiboot.raw
/pc-bios/optionrom/multiboot.img
/pc-bios/optionrom/kvmvapic.asm
/pc-bios/optionrom/kvmvapic.bin
/pc-bios/optionrom/kvmvapic.raw
/pc-bios/optionrom/kvmvapic.img
/qapi-generated
/qapi-types.[ch]
/qapi-visit.[ch]
/qapi-event.[ch]
/qmp-commands.h
/qmp-marshal.c
/qemu-img
/qemu-io
/qga/qapi-generated
/qapi-generated
/qemu-ga
/qemu-bridge-helper
/qemu-img-cmds.h
/qemu-nbd
/qemu-options.def
/html/*
/latex/*
/linux-headers/asm
